header {
    position:fixed;
    width:100%;
    min-width: 900px;
    top:0;
    left:0;
    background-color: #222;
    z-index:10;
}

header h1 {
    font-weight: 500;
    font-family: Verdana;
    text-transform: uppercase;
    line-height: 12px;
    margin-left:10px;
    padding-left:10px;
    color:floralwhite;
}

header h3 {
    font-weight: 300;
    font-family: Georgia;
    text-transform: uppercase;
    line-height: 10px;
    margin-left:10px;
    padding-left:10px;
    color:beige;
    clear:both;
}

header aside { 
    font-family: serif;
    color:floralwhite;
    float:right;
    margin:10px;
    padding:10px;
    
}

header:before,
header:after { 
    content:"";
    display:table;
}

header:after{
    clear:both;
}

article.content:before,
article.content:after { 
    content:"";
    display:table;
}

article.content:after{
    clear:both;
}

article.content {
    clear:both;
    *zoom:1;
}

.content{
    top:50px;
    padding:10px;
    padding-bottom:100px;
    position: relative;
    width:100%;
    min-height:100%;
    min-width: 900px;
}

.info {
    width: 50%;
    min-width: 450px;
    margin:5px;
    padding:5px;
    float:left;
}

.notes{
    width:30%;
    min-width: 300px;
    float:left;
    margin:5px;
    padding:5px;
    font-size:0.7em;
}

ul {
    padding: 5px 0px 0px 10px;
    margin:0;
    border:0;
    list-style: none;
}

p {
    display: block;
    text-indent: 1em;
}

li {
    padding: 2px 0px 0px 10px;
    color: coral;
}


footer {
    width:100%;
    min-width: 900px;
    background-color: #222;
	height:200px;
}

section.navmenu {
    float:left;
    position:relative;
    width: 17%;
    min-width: 180px;
    padding:5px;
    margin: 5px;
}


a:link {
    color: #ccc;
    text-decoration: none;
}

a:visited {
    color: #ccc;
    text-decoration: none;    
}
a:active {
    color: #ccc;
    text-decoration: none;    
}

a:hover {
    color: #eee;
    text-decoration: none;    
}