body {
    margin: 0;
    padding: 0;
    position: relative;
}
header {
    width:100%;
    height: 150px;
    min-width: 900px;
    background-color: #222;
    position: absolute;
}

header h1 {
    font-weight: 500;
    font-family: Verdana;
    text-transform: uppercase;
    line-height: 12px;
    margin-left:10px;
    padding-left:10px;
    color:floralwhite;
}

header h3 {
    font-weight: 300;
    font-family: Georgia;
    text-transform: uppercase;
    line-height: 10px;
    margin-left:10px;
    padding-left:10px;
    color:beige;
}

header table {
    font-family: Calibri;
    font-size: 20;
    padding: 5px;
    margin: 0;
    margin-left:10px;
}

td {
    margin: 0;
    padding: 10px;
}



#content{
    top:150px;
    padding:10px;
    position: relative;
    width:50%;
    min-height:100%;
    min-width: 400px;
    font-family: sans-serif;
}


p {
    display: block;
    text-indent: 2em;
    position: relative;
}

li {
    padding: 2px 0px 0px 10px;
    color: coral;
}


footer {
    width:100%;
    min-width: 900px;
    background-color: #222;
	height:200px;
}


a:link {
    color: #ccc;
    text-decoration: none;
}

a:visited {
    color: #ccc;
    text-decoration: none;    
}
a:active {
    color: #ccc;
    text-decoration: none;    
}

a:hover {
    color: #eee;
    text-decoration: none;    
}